.main {
  width: 100%;
  height: 114px;
  background-color: rgb(243, 244, 248);
  display: flex;
  justify-content: center;
}

.section {
  width: calc(100% - 180px);
  margin-top: 37px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.contacts {
}
.contactText {
  font-size: 14px;
  font-weight: 400;
}

.logo {
  margin-top: 5px;
}
.links {
  text-align: start;
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
