.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section {
  width: 100%;
  height: 800px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 300;
}

.centerBlock {
  margin-top: 90px;
  position: relative;
}

.bigCircleBlock {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.iconInnerBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
  top: 0px;
  left: 0px;
}

.iconInnerBlockLogo {
  margin-top: 140px;
}

.iconInnerBlockText {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 300px;
}

.iconInnerBlockButton {
  margin-top: 45px;
}

.textAroundPosition {
  width: 100%;
  position: absolute;
  left: -315px;
}

@media (max-width: 1170px) {
  .main {
    height: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: start;
  }
  .bigCircleBlock {
    width: 500px;
    position: static;
    margin: 0 auto;
  }

  .textAroundPosition {
    margin: 0 auto;
    position: static;
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .textAroundPosition {
    left: 50px;
  }
}

@media (max-width: 725px) {
  .main {
    height: 1600px;
  }
}
