.inputForm {
  margin-top: 20px;
  width: 100%;
}

.input {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 55px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: rgb(241, 244, 249);
  border: rgb(216, 216, 216) solid 1px;
}

.input::placeholder {
  color: rgb(166, 166, 166);
}

.errorInput {
  outline: rgb(255, 0, 0) solid 1px;
}

.checkboxBlock {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.checkbox {
  margin: 0px;
  width: 24px;
  height: 23px;
}

.checkboxText {
  max-width: 382px;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 250;
  /*   font-weight: 600; */
}
