.inputForm {
  margin-top: 20px;
  width: 100%;
}

.input {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 200;
  /*   font-weight: 500; */
  width: 100%;
  height: 55px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: rgb(241, 244, 249);
  border: rgb(216, 216, 216) solid 1px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

.errorInput {
  border: rgb(255, 0, 0) solid 1px;
}

.flexLables {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.formLables {
  display: flex;
  align-items: center;
  min-width: 38px;
  height: 30px;
  font-size: 18px;
  font-weight: 200;
  /*   font-weight: 600; */
}
