.inputForm {
  margin-top: 25px;
  width: 100%;
}

.input {
  font-size: 18px;
  font-weight: 250;
  /*   font-weight: 500; */
  width: 100%;
  height: 55px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: rgb(241, 244, 249);
  border: rgb(216, 216, 216) solid 1px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}

.errorInput {
  border: rgb(255, 0, 0) solid 1px;
}

.flexLables {
  display: flex;
  justify-content: space-between;
}

.formLables {
  display: block;
  min-width: 38px;
  height: 35px;
  font-size: 18px;
  font-weight: 250;
  /*   font-weight: 600; */
}
