.main {
}

.buttons {
  margin: 20px auto;
  width: 500px;
  display: flex;
  justify-content: center;
}

.printedForm {
  margin: 25px auto 0px;
  background-color: #fff;
  height: 2246px;
  width: 800px;
  padding-top: 1px;
}

.printedForm * {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
}

.paymentForm {
  margin-top: 500px;
}

.header {
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 25px;
}

.headerTo {
}
.unionTrade {
}
.unionTradeDirector {
}
.headerFrom {
}
.user {
}
.title {
  margin-top: 150px;
  text-align: center;
  font-size: 24px;
}
.body {
  margin: 100px 50px 0px 100px;
  width: calc(100% - 150px);
}

.signatureBlock {
  margin: 200px 100px 0px auto;
  width: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
}

.signature {
}

.buttonBlock {
  display: flex;
  gap: 12px;
  width: 595px;
  margin: 30px auto 0px;
}
