.input {
  width: calc (100% - 128px);
  min-width: 300px;

  /* background-color: brown; */
}

.grid50prc {
  display: grid;
  grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  column-gap: 17px;
}

.gridAdressIndexAdressRegion {
  display: grid;
  grid-template-columns: 172px 405px;
  column-gap: 17px;
}

.gridStreetHouseFlat {
  display: grid;
  grid-template-columns: 288px 145px 129px;
  column-gap: 17px;
}

.dateOfCreationGrid {
  display: grid;
  grid-template-columns: 172px 190px 193px;
  column-gap: 20px;
}

.Grid50prc2row {
  display: grid;
  grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
  grid-template-rows: 121px 81px;
  column-gap: 17px;
}

.checkboxBlock {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.error {
  color: rgb(255, 0, 0);
  margin-top: 15px;
  font-size: 11px;
  font-weight: 600;
}

.error:nth-child(2) {
  margin: 5px;
}

.gridBirthDataEducationGender {
  display: grid;
  grid-template-columns: calc(30% - 20px) calc(35% - 10px) calc(35% - 10px);
  column-gap: 20px;
}

.pointer {
  cursor: pointer;
}

.calendar {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.calendar {
  position: relative;
}
