.navButtonIcon {
  margin-left: 15px;
  height: 16px;
}

.navButtonName {
  display: flex;
  align-items: center;
  margin-left: 16px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 250;
  /*   font-size: 14px;
  font-weight: 600; */
}
