.modalChoicePicker {
  position: absolute;
  top: 0px;
  background-color: rgb(241, 244, 249);
  border: solid rgb(216, 216, 216) 1px;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.choiceList {
  width: 580px;
  height: 100%;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
}

.choiceItem {
  margin-top: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 8px;
  height: 36px;
  cursor: pointer;
}

.choiceIndicator {
  margin-right: 10px;
  font-size: 14px;
  line-height: 24px;
}

.buttonGrid {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  grid-template-columns: calc(50%-10px) calc(50%-10px);
  column-gap: 10px;
}
