.containerOfTextAround {
  left: 0px;
  top: 0px;
  position: absolute;
}

.textAround {
  width: 339px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
}
.textPosition1 {
  text-align: end;
  top: -40px;
  left: 130px;
}

.textPosition2 {
  text-align: start;
  top: -40px;
  left: 655px;
}

.textPosition3 {
  top: 60px;
  left: 75px;
}

.textPosition4 {
  top: 60px;
  left: 740px;
}

.textPosition5 {
  width: 249px;
  text-align: end;
  top: 140px;
  left: 60px;
}

.textPosition6 {
  width: 302px;
  text-align: start;
  top: 140px;
  left: 820px;
}

.textPosition7 {
  width: 339px;
  text-align: end;
  top: 245px;
  left: -35px;
}

.textPosition8 {
  width: 313px;
  text-align: start;
  top: 245px;
  left: 830px;
}

.textPosition9 {
  text-align: end;
  top: 385px;
  left: 10px;
}

.textPosition10 {
  text-align: start;
  top: 385px;
  left: 780px;
}

.textPosition11 {
  text-align: end;
  top: 470px;
  left: 110px;
}

.textPosition12 {
  text-align: start;
  top: 470px;
  left: 680px;
}

.textPosition13 {
  text-align: center;
  top: 556px;
  left: 390px;
}

@media (max-width: 1150px) {
  .bigCircle {
    transform: scale(0.9);
    width: 50%;
  }

  .textPosition1,
  .textPosition2,
  .textPosition3,
  .textPosition4,
  .textPosition5,
  .textPosition6,
  .textPosition7,
  .textPosition8,
  .textPosition9,
  .textPosition10,
  .textPosition11,
  .textPosition12,
  .textPosition13 {
    text-align: start;
  }
  .textAround {
    position: static;
  }

  /* .containerOfTextAround {
    position: absolute;
    top: 500px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
  } */

  .containerOfTextAround {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 550px));
    gap: 35px;
    justify-content: center;
    top: 520px;
    /* align-items: center; */
    margin-left: 15px;
    margin-right: 15px;
  }
  .textPosition13 {
    display: none;
  }

  .textAround::before {
    content: "";
    display: inline-block;
    width: 8px; /* Размер точки */
    height: 8px;
    background-color: black; /* Цвет точки */
    border-radius: 50%; /* Сделать точку круглой */
    margin-right: 10px; /* Расстояние между точкой и текстом */
  }
}

@media (max-width: 1050px) {
  .containerOfTextAround {
    grid-template-columns: repeat(2, minmax(35px, 550px));
    gap: 30px;
    margin-left: 15%;
  }
}

@media (max-width: 825px) {
  .containerOfTextAround {
    grid-template-columns: repeat(1, minmax(35px, 550px));
    gap: 30px;
    margin-left: 20%;
  }
  .textPosition8,
  .textPosition9,
  .textPosition10,
  .textPosition11,
  .textPosition12 {
    display: none;
  }
}

@media (max-width: 700px) {
  .textPosition2,
  .textPosition4,
  .textPosition6,
  .textPosition7 {
    display: none;
  }
}
