.main {
  width: 100%;
  max-width: 286px;
  height: 100%;
  background-color: #fff;
  padding-top: 1px;
}

.section {
  margin-top: 10px;
  width: 188px;
  height: 587px;
  margin-left: auto;
}

.navLinkButton {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.documentsInnerLinks {
  margin-top: 15px;
}

.active {
  background-color: rgb(72, 128, 255);
}
.active * {
  color: white;
}

.empty * {
  color: rgba(32, 34, 36, 0.3);
}

.bottomLinkData {
  display: flex;
  align-items: end;
  flex-direction: column;
}
