.main {
  width: 100%;
  max-width: 286px;
  height: 100%;
}

.section {
  margin-top: 11px;
  width: 188px;
  height: 587px;
  margin-left: auto;
}

.navLinkButton {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navLinkButton * {
  font-size: 14px;
  font-weight: 600;
}

.active {
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(72, 128, 255);
}
.active * {
  color: white;
}

.empty * {
  color: rgba(32, 34, 36, 0.3);
}

.bottomLinkData {
  margin-top: 15px;
}

.documentsInnerLinks {
  margin-top: 30px;
}
