.infoblock {
  display: flex;
  justify-content: stretch;
}

.leftTextBlock {
  position: relative;
  width: 380px;
  margin-top: 2px;
  margin-right: 38px;
  font-size: 22px;
  font-weight: 800;
  line-height: 33px;
  text-align: end;
  padding-bottom: 47px;
}
.rightTextBlock {
  width: 450px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 300;
}

.rightTextBlockMock {
  visibility: hidden;
  width: 450px;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 630px) {
  .infoblock {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .leftTextBlock {
    margin-right: 0px;
    text-align: center;
  }
  .rightTextBlock {
    text-align: center;
  }
}

@media (max-width: 555px) {
  .leftTextBlock {
    width: 350px;
  }
  .rightTextBlock {
    width: 350px;
  }
}
