.inputForm {
  margin-top: 15px;
}

.input {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 55px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: rgb(241, 244, 249);
  border: rgb(216, 216, 216) solid 1px;
}

.input::placeholder {
  color: rgb(166, 166, 166);
}

.errorInput {
  border: rgb(255, 0, 0) solid 1px;
}

.flexLables {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.formLables {
  display: block;
  min-width: 38px;
  height: 35px;
  font-size: 18px;
  font-weight: 600;
}
