.main {
  width: 100%;
  padding-bottom: 52px;
}

.section {
  margin-left: 20px;
  margin-top: 55px;
  width: calc(100% - 40px);
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.formBlock {
  margin-right: 64px;
  margin-top: 21px;
  padding-top: 1px;
  width: calc(100% - 128px);
  min-width: 300px;
  padding-bottom: 38px;
  background-color: white;
  border-radius: 24px;
}

.form {
  margin: 4px 64px 0px 64px;
  width: calc (100% - 128px);
  min-width: 300px;
}

.inputLableBlock {
  margin-top: 60px;
}

.submitBlock {
  margin-top: 45px;
}

.gridButton {
  margin: 0 auto;
  width: 386px;
  justify-content: center;
  display: grid;
  grid-template-columns: calc(50% - 13px) calc(50% - 13px);
  column-gap: 26px;
}

.icon {
  padding-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.choiceHobbies {
  position: relative;
}

.calendar {
  position: relative;
}

.buttons {
  width: 900px;
  margin: 40px auto 0px;
  display: flex;
  gap: 24px;
}

.input {
  width: calc (100% - 128px);
  min-width: 300px;
}
.input * {
  column-gap: 25px;
}

.dateNumberGrid {
  display: grid;
  grid-template-columns: 34% calc(34% - 25px) calc(30% - 25px);
  grid-template-rows: 121px;
}

.dateJoinUTNameGrid {
  display: grid;
  grid-template-columns: calc(40% - 12px) calc(60% - 13px);
  grid-template-rows: 121px;
}

.checkBoxBlock {
  max-width: 533px;
  margin: 20px auto 0px;
}

.inputPdf {
  max-width: 497px;
  margin: 20px auto 0px;
}

.error {
  color: rgb(255, 0, 0);
  margin-top: 15px;
  font-size: 11px;
  font-weight: 600;
}

.error:nth-child(2) {
  margin: 5px;
}
