.main {
  background-color: rgb(72, 128, 255);
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 300px;
}

.loginBlock {
  padding-top: 50px;
  width: 630px;
  height: 513px;
  background-color: white;
  border-radius: 24px;
}

.title {
  margin-top: 55px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.buttonBlock {
  margin: 50px auto 0px;
  width: 250px;
}

.bottomButton {
  margin-top: 25px;
}
