.input {
  width: calc (100% - 128px);
  min-width: 300px;

  /* background-color: brown; */
}
.nameAvatarGrid {
  display: grid;
  grid-template-columns: 449px 128px;
  grid-template-rows: 121px 121px;
  column-gap: 18px;
}

.checkboxBlock {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.error {
  color: rgb(255, 0, 0);
  margin-top: 15px;
  font-size: 11px;
  font-weight: 600;
}

.error:nth-child(2) {
  margin: 5px;
}

.gridBirthDataEducationGender {
  display: grid;
  grid-template-columns: 172px 404px;
  column-gap: 20px;
}

.pointer {
  cursor: pointer;
}

.calendar {
  position: relative;
}
