.main {
  width: 100%;
  height: 100vh;
}

.landingTitle {
  margin-top: 84px;
}

.section {
}

.landingBlock1 {
  margin-top: 53px;
}

.landingBlock2 {
  margin-top: 75px;
}

.landingBlock3 {
  margin-top: 115px;
}
.landingBlock4 {
  margin-top: 127px;
}
.landingBlock5 {
  margin-top: 169px;
}

.landingBlock6 {
  margin-top: 125px;
}

@media (max-width: 850px) {
  .landingBlock1 {
    margin-top: 23px;
  }
}
