.main {
  width: 100%;
}

.landingTitle {
  margin-top: 84px;
}

.section {
}

.landingBlock1 {
  margin-top: 53px;
}

.landingBlock2 {
  margin-top: 125px;
}

.landingBlock3 {
  margin-top: 225px;
}
.landingBlock4 {
  margin-top: 125px;
}
.landingBlock5 {
  margin-top: 125px;
}

.landingBlock6 {
  margin-top: 185px;
}

@media (max-width: 555px) {
  .landingTitle {
    margin-top: 20px;
  }
  .landingBlock2 {
    margin-top: 100px;
  }
  .landingBlock3 {
    margin-top: 100px;
  }
  .landingBlock4 {
    margin-top: 100px;
  }
  .landingBlock6 {
    margin-top: 100px;
  }
}
