.main {
  width: 100%;
  height: 960px;
  background-color: rgb(243, 244, 248);
  padding: 1px;
}

.section {
  width: 100%;
  height: 789px;
  margin-top: 44px;
  margin-left: 20px;
  margin-right: 94px;
  width: calc(100% - 114px);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  font-size: 24px;
  font-weight: 700;
}

.requisitesBlock {
  display: flex;
  align-items: center;
  margin-top: 20px;
  max-width: 1028px;
  height: 140px;
  background-color: rgb(255, 255, 255);
  border: rgb(185, 185, 185) 0.3px solid;
  border-radius: 14px;
}
.requisiteFlex1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.requisiteFlex2 {
  display: flex;
}

.requisiteLeftBlock {
  width: 389px;
}

.requisiteRightBlock {
}

.icon {
  margin-right: 20px;
}

.requisiteTitle {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}
.requisiteText {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.table {
  margin-top: 15px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: rgb(185, 185, 185) 0.3px solid;
  border-radius: 14px;
}

.headerGrid {
  display: grid;
  grid-template-columns:
    20px minmax(100px, 600px) minmax(100px, 600px)
    minmax(100px, 600px) minmax(100px, 800px) minmax(100px, 600px) minmax(100px, 600px);
  grid-template-rows: 49px;
  border-bottom: rgb(185, 185, 185) 0.3px solid;
}

.tableHeaderText {
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.tableList {
}

.documentsListRow {
  display: grid;
  grid-template-columns:
    20px minmax(100px, 700px) minmax(100px, 700px) minmax(100px, 600px)
    minmax(100px, 600px) minmax(100px, 600px) minmax(100px, 600px);
  grid-template-rows: 75px;
  align-items: center;
  border-bottom: rgb(185, 185, 185) 0.3px solid;
}

.documentsListRow:last-child {
  border-bottom: none;
}

.tableListText {
  font-size: 14px;
  font-weight: 600;
}
