.main {
  display: flex;
  justify-content: center;
  height: 1046px;
}

.section {
  width: 1200px;
  height: 783px;
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 44px;
  text-align: center;
  margin-right: 20px;
}

.autoBlock {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.autoIcon {
}

.freeBlock {
  margin-top: 20px;
  margin-left: 31px;
}
.freeBlock_title {
  font-size: 22px;
  font-weight: 800;
  line-height: 33px;
}
.freeBlock_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.rightAutoBlock {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.autoButton {
  margin-top: 40px;
}

.block6Sections {
  display: flex;
  margin-top: 46px;
  width: 100%;
  height: 676px;
}

.block6Section {
  margin-top: 30px;
  width: 100%;
  height: 85px;
}
