.logoBlock {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.textBlock {
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
}

.enter {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  position: relative;
}

.enter:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.likeIcon {
  position: absolute;
  left: calc(50% - 110px);
  top: 18px;
}

@media (max-width: 830px) {
  .logoBlock > div {
    transform: scale(0.9);
  }
}

@media (max-width: 700px) {
  .logoBlock > div {
    transform: scale(0.85);
  }
}

@media (max-width: 650px) {
  .logoBlock > div {
    transform: scale(0.8);
  }
}

@media (max-width: 600px) {
  .logoBlock > div {
    transform: scale(0.75);
  }
}

@media (max-width: 570px) {
  .logoBlock > div {
    transform: scale(0.7);
  }
}

@media (max-width: 555px) {
  .main {
    height: 300px;
  }
  .logoBlock > div {
    transform: scale(0.47);
  }
  .textBlock {
    transform: translateY(-50px);
    width: 340px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 400;
  }

  .enter {
    transform: translateY(-80px);
  }
}
