section {
  width: 100%;
}

.logoBlock {
  display: flex;
  justify-content: center;
}

.textBlock {
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
}

.enter {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  position: relative;
}

.likeIcon {
  position: absolute;
  left: calc(50% - 110px);
  top: 18px;
}
