.main {
  display: flex;
  justify-content: center;
}

.section {
  width: 780px;
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 44px;
  text-align: center;
}

.block5Sections {
  margin-top: 64px;
  width: 100%;
  position: relative;
}

.vertikalLineIcon {
  position: absolute;
  right: calc(50% + 25px);
  top: -20px;
}

.block5Section {
  margin-top: 30px;
  width: 100%;
}

.block5Section:first-child {
  margin-top: 200px;
}

@media (max-width: 800px) {
  .section {
    width: 600px;
  }
  .block5Section {
    margin-top: 5px;
  }
}

@media (max-width: 630px) {
  .section {
    /*   width: 350px; */
  }
  .block5Section {
    margin-top: 5px;
  }
  .vertikalLineIcon {
    display: none;
  }
}
