.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section {
  position: relative;
  max-width: 1200px;
  height: 553px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  line-height: 44px;
}

.topFlex {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.bottomFlex {
  margin-top: 9px;
  margin-left: 170px;
  margin-right: 280px;
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.arrowTopAbsoluteBlock {
  width: 510px;
  position: absolute;
  bottom: 174px;
  left: 340px;
  display: flex;
  justify-content: space-between;
}

.arrowBottomAbsoluteBlock {
  width: 943px;
  position: absolute;
  bottom: 74px;
  left: 60px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1240px) {
  .section {
    width: 1100px;
  }

  .bottomFlex {
    width: 700px;
  }
  .arrowTopAbsoluteBlock {
    display: none;
  }

  .arrowBottomAbsoluteBlock {
    display: none;
  }
}
@media (max-width: 1150px) {
  .section {
    width: 1000px;
    height: 684px;
  }

  .bottomFlex {
    width: 650px;
  }
}

@media (max-width: 1050px) {
  .section {
    width: 900px;
  }

  .bottomFlex {
    margin-top: 80px;
    width: 610px;
    margin-left: 130px;
  }
}

@media (max-width: 950px) {
  .section {
    width: 800px;
  }
  .topFlex {
    margin-top: 60px;
  }

  .bottomFlex {
    width: 600px;
  }
  .bottomFlex {
    margin-left: 60px;
  }
}

@media (max-width: 850px) {
  .section {
    width: 750px;
  }

  .bottomFlex {
    width: 550px;
  }
}

@media (max-width: 800px) {
  .section {
    width: 700px;
  }
  .bottomFlex {
    width: 475px;
  }
}

@media (max-width: 760px) {
  .section {
    width: 650px;
  }
  .bottomFlex {
    width: 450px;
  }
}

@media (max-width: 700px) {
  .section {
    width: 630px;
    height: 820px;
  }

  .bottomFlex {
    margin-top: 125px;
    width: 435px;
  }
}

@media (max-width: 665px) {
  .section {
    width: 600px;
    margin-left: 10px;
  }

  .bottomFlex {
    margin-top: 125px;
    width: 415px;
  }
}

@media (max-width: 630px) {
  .section {
    width: 500px;
    margin-bottom: 150%;
  }

  .bottomFlex {
    width: 385px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .topFlex {
    display: flex;
    flex-direction: column;
    gap: 370px;
    position: relative;
  }

  .stepNumber[data-step="2"] {
    position: absolute;
    top: -1150px;
    right: 250px;
  }

  .stepNumber[data-step="4"] {
    position: absolute;
    top: -630px;
    left: -60px;
  }
}
