.main {
  display: flex;
  justify-content: center;
}

.section {
  width: 830px;
}

.title {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin-left: 40px;
}

.block4Sections {
  padding-top: 80px;
}

@media (max-width: 920px) {
  .section {
    width: 650px;
  }

  .block4Sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 850px) {
}

@media (max-width: 680px) {
  .section {
    width: 400px;
  }
}
